:root {
    --blue1: #8EAFC0;
    --blue2: #526C80;
    --blue3: #718b9b;
    --white1: #F2F0E9;
    --white2: #FFFFFF;
    --orange1: #c37328;
    --orange2: #f8a95e;
    --pink1: #ef6384;
    --grey1: #b2b2b2;
    --grey2: #e6e6e6;
}

#resultBox div.tab-content {
    border-top: 0;
}

#resultBox div[role=tabpanel]{
    border: 2px solid var(--pink1) !important;
}